@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --primary-green: #427466;
  --primary-green-hover: #365f54;
  --text-dark: #1a1a1a;
  --text-gray: #666666;
  --text-teal: #3D8C7A;
  --bg-page: #F9F9F9;
  --bg-navbar: #ffffff;
  --nav-inactive-bg: #D9D9D9;
  --border-gray: #d1d5db;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: var(--bg-page);
}